.contact-section.section-style
	.container
		+sectionHeader("اتصل بنا", "نحن هنا دائمًا لمساعدتك")

		.section-body
			.contact-info
				.row
					.col-12.col-md-6
						.left
							h3.playfair-font ملبورن, #[span أستراليا]

							address.custom-paragraph
								| 269 King Str, 05th Floor, Utral Hosue Buliding,
								span.d-block Melbourne, VIC 3000, Australia.

							p.email Email: #[span.custom-paragraph kirolosmahfouz15@gmail.com]

					.col-12.col-md-6
						.right
							.call
								h4.custom-paragraph اتصل مباشرة:
								a(href="tel:01229624858") #[bdi +99 (0) 344 956 4050]
							
							.lunch
								h4 خدمة الغداء:
								p.custom-paragraph
									| الجمعة, السبت و الحد: الحجوزات #[span.d-block من 12م - 1.30م.]							
							.dinner
								h4 خدمة العشاء:
								p.custom-paragraph
									| يوميا: الحجوزات من 6م - 6.30م
	
	.map
		iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d23242.56479202916!2d31.177436492421045!3d30.007354463240603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1610511040174!5m2!1sen!2seg" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" title="map")