section.landing-page
	.container
		.content
			+sectionHeader("Welcome", "Prime Beef Steak", "Restaurant")

			.info.text-right
				.row
					.col.d-none.d-md-block
						.img
							img(src="images/dish.png" alt="Main Dish" draggable="false")
					.col
						.details
							p.book احجز طاولة مباشرة
							p.number.playfair-font #[bdi(dir="auto") (014) 323 68 48]
							p.hours ساعات العمل : #[span الاثنين - الجمعة]: 09:00 - 21:00 / #[span عطلة نهاية الاسبوع: 09:00 -- 22:00]