header.navbar
	.container
		.row.justify-content-between.align-items-end
			.col-1
				.logo
					img(src="images/logo.png", alt="Logo", draggable="false")

			.col-auto
				nav.main-nav
					button.nav-btn
						span.btn-line
						span.btn-line
						span.btn-line

					ul.nav-list
						li.list-item #[a(href="#") الصفحة الرئيسية]
						li.list-item #[a(href="#") الصفحات]
						li.list-item #[a(href="#") معرض الاعمال]
						li.list-item #[a(href="#") مدونة]
						li.list-item #[a(href="#") العناصر]
						li.list-item #[a(href="#") المتجر]
						li.list-item #[a(href="#") حجز #[i.fas.fa-angle-left.icon]]