section.news.section-style.text-center
	.container
		+sectionHeader("أخبارنا", "الترقيات والأحداث")

		.section-body
			.row.m-0.p-0
				.col-12.col-md-12.col-lg-8.m-0.p-0
					.news-card
						.row.m-0.p-0
							.col-12.col-md-6.m-0.p-0
								.news-image
									+ratio("images/news/img-1.jpg", "News Image", "news-ratio")

							.col-12.col-md-6.m-0.p-0
								.news-content.arrow-left
									header.news-title
										h3.news-header.playfair-font لحم بقري سوتيه #[span.d-block Onions - دعنا نستمتع!]

									.news-details
										p.custom-paragraph
											span.d-block 123 Broodway Stm NY, United States
											span.d-block 10:00ص - 14:00م
											span.d-block الاثنين. السبت. 25th, 2016

					.news-card
						.row.m-0.p-0
							.col-12.col-md-6.order-2.order-md-1.m-0.p-0
								.news-content.arrow-right
									header.news-title
										h3.news-header.playfair-font كن سوبر شيف #[span.d-block بسهولة معنا]

									.news-details
										p.custom-paragraph
											span.d-block 1600 Allen St, NY, United States
											span.d-block 16:00ص - 18:00م
											span.d-block الاحد. اكتوبر. 16th, 2016

							.col-12.col-md-6.order-1.order-md-2.m-0.p-0
								.news-image
									+ratio("images/news/img-2.jpg", "News Image", "news-ratio")

				.col-12.col-md-12.col-lg-4.m-0.p-0
					.news-card
						.row.m-0.p-0
							.col-12.col-md-6.col-lg-12.m-0.p-0
								.news-image
									+ratio("images/news/img-3.jpg", "News Image", "news-ratio")

							.col-12.col-md-6.col-lg-12.m-0.p-0
								.news-content.arrow-top
									header.news-title
										h3.news-header.playfair-font فن التصوير #[span.d-block الطعام]

									.news-details
										p.custom-paragraph
											span.d-block 580 Broodway St, NY, United States
											span.d-block 08:00ص - 10:30م
											span.d-block الخميس. نوفمبير. 19th, 2016