section.review-section.section-style.text-right
	.container
		.row
			.col-12.col-md-6.d-none.d-md-block
				.chief-image
					img(src="images/chief.png", alt="Chief Image", draggable="false")

			.col-12.col-md-6
				+sectionHeader("مراجعة", "ماذا يقولون عنا سادة الطعام")

				.section-body
					.chief-slider
						.slider
							.slider-banner
								.chief-review.slider-item
									h3.review-head "1 أفضل مطعم اعتدت تجربته"
									
									p.review-text.custom-paragraph هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.

									+author("Joe Bastianich", "الفائز ماسترشيف 2016")
						
								.chief-review.slider-item
									h3.review-head "2 أفضل مطعم اعتدت تجربته"
									
									p.review-text.custom-paragraph هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.

									+author("Joe Bastianich", "الفائز ماسترشيف 2016")
						
								.chief-review.slider-item
									h3.review-head "3 أفضل مطعم اعتدت تجربته"
									
									p.review-text.custom-paragraph هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.

									+author("Joe Bastianich", "الفائز ماسترشيف 2016")
						
								.chief-review.slider-item
									h3.review-head "4 أفضل مطعم اعتدت تجربته"
									
									p.review-text.custom-paragraph هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.

									+author("Joe Bastianich", "الفائز ماسترشيف 2016")
						
						.slider-arrows
							button.arrow.next #[i.fas.fa-arrow-right]
							button.arrow.prev #[i.fas.fa-arrow-left]