section.story-section.section-style
	.container
		.row
			.col-12.col-md-6
				+sectionHeader("قصتنا", "الطبخ هو فن التعديل")

				.section-body
					p.custom-paragraph هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق. إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.

					+author("Thomas Eggsy", "رئيس الطهاة في المطعم")
					
					a(href="#").playfair-font احجز
			
			.col-12.col-md-6
				.video
					.img #[img(src="images/video-bg.jpg", alt="Video Image", draggable="false")]

					.controls
						button.play #[i.fas.fa-play.icon] Play