section.review-section.section-style.text-right
	.container
		.row
			.col-12.col-md-6.d-none.d-md-block
				.chief-image
					img(src="images/chief.png", alt="Chief Image", draggable="false")

			.col-12.col-md-6
				+sectionHeader("Review", "The Food's Masters", "Say About Us")

				.section-body
					.chief-slider
						.slider
							.slider-banner
								.chief-review.slider-item
									h3.review-head "1 Best restaurant that i used to experience"
									
									p.review-text.custom-paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, modi? Blanditiis, hic vitae suscipit perspiciatis debitis corporis ea, laudantium rem maxime at recusandae vero voluptatibus enim quidem. Doloremque architecto minima animi voluptatum veniam omnis voluptate molestiae atque, quo quas libero.

									+author("Joe Bastianich", "Winner Master Chief 2016")
						
								.chief-review.slider-item
									h3.review-head "2 Best restaurant that i used to experience"
									
									p.review-text.custom-paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, modi? Blanditiis, hic vitae suscipit perspiciatis debitis corporis ea, laudantium rem maxime at recusandae vero voluptatibus enim quidem. Doloremque architecto minima animi voluptatum veniam omnis voluptate molestiae atque, quo quas libero.

									+author("Joe Bastianich", "Winner Master Chief 2016")
						
								.chief-review.slider-item
									h3.review-head "3 Best restaurant that i used to experience"
									
									p.review-text.custom-paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, modi? Blanditiis, hic vitae suscipit perspiciatis debitis corporis ea, laudantium rem maxime at recusandae vero voluptatibus enim quidem. Doloremque architecto minima animi voluptatum veniam omnis voluptate molestiae atque, quo quas libero.

									+author("Joe Bastianich", "Winner Master Chief 2016")
						
								.chief-review.slider-item
									h3.review-head "4 Best restaurant that i used to experience"
									
									p.review-text.custom-paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, modi? Blanditiis, hic vitae suscipit perspiciatis debitis corporis ea, laudantium rem maxime at recusandae vero voluptatibus enim quidem. Doloremque architecto minima animi voluptatum veniam omnis voluptate molestiae atque, quo quas libero.

									+author("Joe Bastianich", "Winner Master Chief 2016")
						
						.slider-arrows
							button.arrow.prev(aria-label="Prev button") #[i.fas.fa-arrow-left]
							button.arrow.next(aria-label="Next button") #[i.fas.fa-arrow-right]