section.testimonials-sections.text-center
	.container
		.section-body
			i.fas.fa-quote-left.d-block.icon
			p.playfair-font I Love Cooking For Myself And Cooking For My Family
			span.author.d-inline-block Al Roker