// Start Grid Variables

$grid-max-xs: 575.98px;

$grid-min-sm: 576px;
$grid-max-sm: 767.98px;

$grid-min-md: 768px;
$grid-max-md: 991.98px;

$grid-min-lg: 992px;
$grid-max-lg: 1199.98px;

$grid-min-xl: 1200px;

// End Grid Variables