// Start Small Classes

.playfair-font {
	font-family: 'Playfair Display', serif;
}

.text-left {
	text-align: start;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: end;
}

.custom-paragraph {
	color: #999;
	font-size: 14px;
	line-height: 1.8;

	@media (max-width: 767.98px) {
		text-align: center;
	}
}

// End Small Classes
// Start Components [Bit Classes}

.logo {
	position: relative;
	width: 35px;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		padding-top: 131.4%;
	}

	img {
		width: 100%;
		height: 200%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transition: all 0.3s ease-in-out;
	}
}

.ratio-holder {
	position: relative;
	overflow: hidden;

	.ratio {
		padding-top: 100%;
	}

	.ratio-content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		img {
			width: 100%;
			min-height: 100%;
		}
	}
}

.section-style {
	padding-top: 80px;
	padding-bottom: 80px;

	@media (max-width: 575.98px) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.section-title {
	.section-header {
		font-size: 40px;
		font-weight: bold;
		line-height: 1;
		color: #111;
		width: 100%;

		@media (max-width: 991.98px) {
			font-size: 35px;
		}

		@media (max-width: 767.98px) {
			text-align: center;
			font-size: 30px;
			line-height: 1.2;
		}

		span {
			display: block;
			font-weight: bold;

			&.small {
				text-transform: uppercase;
				letter-spacing: 10px;
				font-size: 12px;
				color: #999;
				margin-bottom: 20px;
			}
		}
	}
}

.author {
	margin-top: 45px;

	@media (max-width: 767.98px) {
		margin-top: 30px;
	}

	.name {
		color: #000;
		font-weight: 600;
	}

	.jop {
		font-style: italic;
	}
}

.clickable-item {
	position: relative;

	.clickable-anchor {
		z-index: 2;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

// End Components [Bit Classes}