footer.footer-section.text-center
	.container
		.logo.m-auto
			img(src="images/logo.png", alt="Logo", draggable="false")
		
		nav.footer-navigator
			ul.footer-list-items
				li.footer-item.d-block.d-sm-inline-block
					a(href="#", class="footer-link") Reservations

				li.footer-item.d-block.d-sm-inline-block
					a(href="#", class="footer-link") Functions

				li.footer-item.d-block.d-sm-inline-block
					a(href="#", class="footer-link") Contact

				li.footer-item.d-block.d-sm-inline-block
					a(href="#", class="footer-link") Reviews &amp; Media

		.social-icons
			ul.social-list
				li.social-item.d-inline-block
					a(href="#", class="social-link")
						i.fab.fa-twitter

				li.social-item.d-inline-block
					a(href="#", class="social-link")
						i.fab.fa-facebook-f

				li.social-item.d-inline-block
					a(href="#", class="social-link")
						i.fab.fa-google-plus-g

				li.social-item.d-inline-block
					a(href="#", class="social-link")
						i.fab.fa-instagram

				li.social-item.d-inline-block
					a(href="#", class="social-link")
						i.fas.fa-rss

		.copy-right
			p &copy; Ai Restaurant

			p Design by LoganCee All Rights Resevted