header.landing-page
	.container
		.logo
			img(src="images/logo.png" alt="Logo" draggable="false")

		nav
			ul
				li #[a(href="#") Home]
				li #[a(href="#") Pages]
				li #[a(href="#") Portfolio]
				li #[a(href="#") Blog]
				li #[a(href="#") Elements]
				li #[a(href="#") Shop]
				li #[a(href="#") Reservation <i class="fas fa-angle-right icon"></i>]