section.landing-page
	.container
		.content
			header.section-title
				h1.section-header
					span.small Welcome
					span.playfair-font Prime Beef Steak
						span Restaurant

			.info
				.row
					.col.d-none.d-md-block
						.img
							img(src="images/dish.png" alt="Main Dish" draggable="false")
					.col
						.details
							p.book Book a table directly
							p.number.playfair-font (014) 323 68 48
							p.hours Opening Hours : #[span MON - FRI]: 09:00 - 21:00 / #[span Weekend: 09:00 -- 22:00]