header.navbar
	.container
		.row.justify-content-between.align-items-end
			.col-1
				.logo
					img(src="images/logo.png", alt="Logo", draggable="false")

			.col-auto
				nav
					button.nav-btn
						span.btn-line
						span.btn-line
						span.btn-line

					ul.nav-list
						li.list-item #[a(href="#") Home]
						li.list-item #[a(href="#") Pages]
						li.list-item #[a(href="#") Portfolio]
						li.list-item #[a(href="#") Blog]
						li.list-item #[a(href="#") Elements]
						li.list-item #[a(href="#") Shop]
						li.list-item #[a(href="#") Reservation #[i.fas.fa-angle-right.icon]]