section.news.section-style
	.container
		+sectionHeader("Our News", "Promotions & Events")

		.section-body
			.row.m-0.p-0
				.col-12.col-md-12.col-lg-8.m-0.p-0
					.news-card
						.row.m-0.p-0
							.col-12.col-md-6.m-0.p-0
								.news-image
									+ratio("images/news/img-1.jpg", "News Image", "news-ratio")

							.col-12.col-md-6.m-0.p-0
								.news-content.arrow-left
									header.news-title
										h4.news-header.playfair-font Beef Sauteed #[span.d-block Onions - Let's Enjoy!]

									.news-details
										p.custom-paragraph
											span.d-block 123 Broodway Stm NY, United States
											span.d-block 10:00Am - 14:00Pm
											span.d-block Monday. Sep. 25th, 2016

					.news-card
						.row.m-0.p-0
							.col-12.col-md-6.order-2.order-md-1.m-0.p-0
								.news-content.arrow-right
									header.news-title
										h4.news-header.playfair-font Become A Super Chef So #[span.d-block Easy With Us]

									.news-details
										p.custom-paragraph
											span.d-block 1600 Allen St, NY, United States
											span.d-block 16:00Am - 18:00Pm
											span.d-block Sunday. Oct. 16th, 2016

							.col-12.col-md-6.order-1.order-md-2.m-0.p-0
								.news-image
									+ratio("images/news/img-2.jpg", "News Image", "news-ratio")

				.col-12.col-md-12.col-lg-4.m-0.p-0
					.news-card
						.row.m-0.p-0
							.col-12.col-md-6.col-lg-12.m-0.p-0
								.news-image
									+ratio("images/news/img-3.jpg", "News Image", "news-ratio")

							.col-12.col-md-6.col-lg-12.m-0.p-0
								.news-content.arrow-top
									header.news-title
										h4.news-header.playfair-font Art Photography In #[span.d-block Foody]

									.news-details
										p.custom-paragraph
											span.d-block 580 Broodway St, NY, United States
											span.d-block 08:00Am - 10:30Pm
											span.d-block Thursday. Nov. 19th, 2016