section.story-section.section-style
	.container
		.row
			.col-12.col-md-6
				+sectionHeader("Our Story", "Cooking Is The Art Of", "Adjustment")

				.section-body
					p.custom-paragraph Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos atque necessitatibus pariatur harum obcaecati molestias eum, labore laboriosam? Commodi atque excepturi ea, amet at obcaecati iste repellat maiores tempore totam exercitationem eum quo, dolor voluptas sunt aliquid corrupti!

					+author("Thomas Eggsy", "Master Cheft at Al Restaurant")
					
					a(href="#").playfair-font Reservation
			
			.col-12.col-md-6
				.video
					.img #[img(src="images/video-bg.jpg", alt="Video Image", draggable="false")]

					.controls
						button.play Play #[i.fas.fa-play.icon]