section.section-style.story-section
	.container
		.row
			.col-12.col-sm
				header.section-title
					h2.section-header
						span.small Our Story
						span.playfair-font Cooking Is The Art Of #[span Adjustment]

				.section-body
					p.custom-paragraph Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos atque necessitatibus pariatur harum obcaecati molestias eum, labore laboriosam? Commodi atque excepturi ea, amet at obcaecati iste repellat maiores tempore totam exercitationem eum quo, dolor voluptas sunt aliquid corrupti!
					
					p.author.custom-paragraph
						span.name Thomas Eggsy 
						span.jop - Master Cheft at Al Restaurant
					
					a(href="#").playfair-font Reservation
			
			.col-12.col-sm
				.video
					.img #[img(src="images/video-bg.jpg", alt="Video Image", draggable="false")]

					.controls
						button.play Play #[i.fas.fa-play.icon]