.special-menu {
	text-align: center;
	background-color: #ffff;
	background-image: url("../images/pattern.jpg");
	background-repeat: repeat;

	.section-body {
		.cards {
			padding-top: 50px;
			padding-bottom: 60px;

			.menu-slider {
				position: relative;
				padding: 0 30px;
				overflow: hidden;

				@media (max-width: $grid-max-xs) {
					padding: 0 20px;
				}

				.slider {
					overflow: hidden;
					margin: 0 15px;

					@media (max-width: $grid-max-xs) {
						margin: 0 10px;
					}

					.slider-banner {
						position: relative;

						.card {
							background-color: #fff;
							padding: 15px;
							margin: 0 10px;
							float: left;

							@media (max-width: $grid-max-xs) {
								padding: 10px;
							}		

							.card-image {
								position: relative;
								margin-bottom: 60px;

								.menu-ratio {
									padding-top: 70%;
								}

								.price {
									display: block;

									$w-h: 90px;

									@media (max-width: $grid-max-xs) {
										$w-h: 75px;
									}

									width: $w-h;
									height: $w-h;
									line-height: $w-h;

									position: absolute;
									bottom: -($w-h / 2);
									left: 50%;
									transform: translateX(-50%);
									background-color: #fff;
									border-radius: 50%;
									font-size: 30px;
									box-shadow: 0 0 0 8px rgba(#fff, 0.5);

									@media (max-width: $grid-max-xs) {
										font-size: 25px;
									}
								}
							}

							.card-content {
								.card-desc {
									padding-right: 20px;
									padding-left: 20px;

									@media (max-width: $grid-max-xs) {
										padding-right: 10px;
										padding-left: 10px;
									}
								}
							}
						}
					}
				}

				.slider-arrows {
					.arrow {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						font-size: 45px;
						z-index: 2;
						color: #333;
						transition: opacity 0.3s ease-in-out;

						&.next {
							right: 0;
						}

						&.prev {
							left: 0;
						}

						&.disabled {
							opacity: 0.4;
							cursor: not-allowed;
						}
					}
				}
			}
		}

		.view-more {
			border: none;
			background: none;
			color: #333;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}
