.story-section {
	background-color: #fff;

	&.section-style {
		@media (min-width: 768px) {
			padding-top: 200px;
		}
	}

	.section-body {
		padding-right: 20px;
		
		@media (max-width: 767.98px) {
			padding-right: 0;
			padding-bottom: 20px;
			text-align: center;
		}

		p {
			&:first-of-type {
				margin-top: 50px;
			}
		}

		a {
			display: inline-block;
			color: #333;
			margin-top: 80px;
			border: 1px solid #aaa;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
			padding: 10px 20px;
			transition: background-color 0.3s ease-in-out;

			&:hover {
				background-color: #f9f9f9;
			}

			@media (max-width: 767.98px) {
				margin-top: 20px;
				font-size: 12px;
				padding: 8px 16px;
			}
		}
	}

	.video {
		position: relative;
		float: right;

		.img {
			&, img {
				@media (max-width: 991.98px) {
					width: 100%;
				}
			}
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: -30px;
			left: -30px;
			width: 100%;
			height: 100%;
			background-image: url("../images/dots.png");
			background-repeat: repeat;
		}

		.controls {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 20px 15px 15px;
			background: linear-gradient(to top, #000, transparent);

			button {
				background: none;
				border: none;
				color: #FFF;
				font-size: 12px;
				text-transform: uppercase;

				.icon {
					font-size: 10px;
					margin-left: 8px;
					position: relative;
					top: -1.5px;
				}
			}
		}
	}
}