.footer-section {
	background-color: #131a22;
	padding: 90px 0 50px;

	.footer-navigator {
		margin-top: 40px;
		margin-bottom: 100px;

		.footer-list-items {
			margin: 0;
			padding: 0;

			.footer-item {
				position: relative;
				margin: 0 30px;
				vertical-align: middle;

				&:first-of-type {
					margin-left: 0;
				}

				&:last-of-type {
					margin-right: 0;

					&::before {
						display: none;
	
						@media (max-width: $grid-max-xs) {
							display: none;
						}
					}	
				}

				@media (max-width: $grid-max-xs) {
					margin: 0;
					margin-bottom: 15px;

					&:last-of-type {
						margin-bottom: 0;
					}
				}

				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					right: -30px;
					transform: translate(50%,-50%);
					width: 3px;
					height: 15px;
					background-color: #4e5052;

					@media (max-width: $grid-max-xs) {
						display: none;
					}
				}

				.footer-link {
					font-size: 12px;
					color: #b1b3b5;
				}
			}
		}
	}

	.social-icons {
		.social-list {
			vertical-align: middle;

			.social-item {
				margin: 0 12px;

				&:first-of-type {
					margin-left: 0;
				}

				&:last-of-type {
					margin-right: 0;
				}

				.social-link {
					color: #b1b3b5;
					font-size: 12px;
					transition: color .3s ease-in-out;

					&:hover {
						color: #4e5052;
					}
				}
			}
		}
	}

	.copy-right {
		margin-top: 25px;

		p {
			margin: 0;
			color: #4f5152;
			font-size: 12px;
			font-weight: bold;
		}
	}
}