.landing-page {
	@include bg-img("../images/bg.jpg", #000, 0.4, fixed, false);

	.content {
		min-height: 500px;
		height: 100vh;
		max-height: 900px;
		position: relative;

		.section-title {
			text-align: right;

			@media (max-width: $grid-max-xs) {
				text-align: center;
			}

			.section-header {
				font-size: 60px;
				color: #FFF;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);

				@media (max-width: $grid-max-xs) {
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 40px;
				}

				.small {
					color: #CCC;
				}
			}
		}

		.info {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;

			.img {
				@media (min-width: $grid-min-md) and (max-width: $grid-max-md) {
					text-align: left;
				}
	
				img {
					position: relative;
					bottom: -100px;
					filter: drop-shadow(0 0 40px rgba(#000, 0.5));
	
					@media (min-width: $grid-min-md) and (max-width: $grid-max-md) {
						width: 270px;
					}

					@media (max-height: 600px) {
						width: 300px;
					}
				}
			}

			.details {
				position: absolute;
				bottom: 0;
				right: 0;
				padding-bottom: 15px;
				padding-right: 15px;
				padding-left: 15px;

				p {
					margin-bottom: 0;
					font-size: 12px;
					color: #CCC;

					&.book {
						font-size: 12px;
						font-weight: 100;
						margin-bottom: 2px;
					}

					&.number {
						font-size: 25px;
						color: #FFF;
						margin-bottom: 20px;
					}

					&.hours {
						font-weight: bold;
						text-transform: uppercase;

						span {
							color: #FFF;
						}
					}
				}
			}
		}
	}
}