.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 0;
	z-index: 1000;
	transition: all 0.3s ease-in-out;

	.main-nav {
		position: relative;

		.nav-btn {
			display: none;
			width: 40px;
			transition: all 0.3s ease-in-out;

			@media (max-width: $grid-max-md) {
				display: block;
			}

			.btn-line {
				display: block;
				height: 3px;
				margin: 5px 0;
				background-color: #fff;
				transition: all 0.3s ease-in-out;
			}
		}

		.nav-list {
			@media (max-width: $grid-max-md) {
				position: absolute;
				top: 60px;
				width: 200px;
				right: -300px;
				transition: all 0.3s ease-in-out;
			}

			.list-item {
				display: inline-block;
				font-size: 14px;
				margin-left: 60px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-left: 130px;

					@media (max-width: $grid-max-md) {
						margin-left: 0;
						margin-bottom: 0;
					}

					a {
						.icon {
							margin-left: 5px;
							vertical-align: middle;
							position: relative;
							right: 0;
							transition: all 0.3s ease-in-out;
						}

						&:hover {
							.icon {
								right: 4px;
							}
						}
					}
				}

				@media (max-width: $grid-max-md) {
					display: block;
					margin: 0;
					margin-bottom: 15px;
					border-radius: 10px;
					overflow: hidden;
					position: relative;
					right: -300px;
					visibility: hidden;
					opacity: 0;
					transition: right 0.3s ease-in-out,
						visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;

					// Transition Delay For Every List Item
					$delay: 0.1;
					@for $i from 1 to 7 {
						&:nth-child(#{$i + 1}) {
							transition-delay: #{$delay * $i}s;
						}
					}
				}

				a {
					position: relative;
					color: #fff;
					transition: all 0.3s ease-in-out;

					@media (min-width: $grid-min-lg) {
						&::before {
							content: "";
							display: block;
							width: 0;
							height: 3px;
							background-color: #fff;
							position: absolute;
							bottom: -8px;
							left: 0;
							transition: all 0.3s ease-in-out;
						}

						&:hover::before,
						&:focus::before {
							width: 100%;
						}
					}

					@media (max-width: $grid-max-md) {
						text-align: center;
						display: block;
						padding: 15px 10px;
						background-color: #333;

						&:hover,
						&:focus {
							background-color: #121212;
						}
					}
				}
			}
		}

		&.show {
			.nav-btn {
				transform: rotate(180deg);

				.btn-line {
					&:first-of-type {
						transform: rotate(45deg) translate(5px, 5px);
					}

					&:nth-of-type(2) {
						visibility: hidden;
						opacity: 0;
					}

					&:last-of-type {
						transform: rotate(-45deg) translate(6px, -6px);
					}
				}
			}

			.nav-list {
				right: 0;

				.list-item {
					@media (max-width: $grid-max-md) {
						right: 0;
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}

	// Start Navbar With Scroll Class
	&.scroll {
		padding: 20px 0;
		background-color: #fff;
		box-shadow: 0 -4px 20px -5px rgba(#000, 0.8);

		.logo {
			img {
				top: -100%;
			}
		}

		nav {
			.nav-btn {
				.btn-line {
					background-color: #333;
				}
			}

			.nav-list {
				.list-item {
					a {
						@media (min-width: $grid-min-lg) {
							color: #333;
						}

						@media (min-width: $grid-min-lg) {
							&::before {
								background-color: #333;
							}
						}
					}
				}
			}
		}
	}
}
