.testimonials-sections {
	@include bg-img("../images/bg-2.jpg", #000, 0.5, fixed, center center);

	padding: 140px 0;
	color: #FFF;
	position: relative;

	.section-body {
		position: relative;
		z-index: 2;

		.icon {
			font-size: 40px;
		}
	
		p {
			font-size: 45px;
			font-weight: bold;
			padding: 60px 120px 0;

			@media (max-width: $grid-max-sm) {
				font-size: 40px;
				padding: 50px 40px 0;
			}

			@media (max-width: $grid-max-xs) {
				font-size: 30px;
				padding: 50px 20px 0;
			}
		}

		.author {
			color: #D1D1D1;

			&::before,
			&::after {
				content: '';
				display: inline-block;
				width: 5px;
				height: 1px;
				vertical-align: middle;
				background-color: #D1D1D1;
			}

			&::before {
				margin-right: 5px;
			}

			&::after {
				margin-left: 5px;
			}
		}
	}
}