<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Restaurant - Home
		link(rel="stylesheet", href="css/vendors/all.css")
		link(rel="stylesheet", href="css/main.css")
	body
		include layout/_header.pug
		
		//- Scripts
		script(src="js/vendors/jquery.js")
		script(src="js/main.js")