<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Restaurant - Home
		link(rel="stylesheet", href="css/main.css")
	body

	| hello
	//- Scripts
	script(src="js/venders/jquery.js")
	script(src="js/main.js")