<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Restaurant - Home

		//- FOnt Awesome
		link(rel="stylesheet", href="css/vendors/all.css")

		//- Playfair Display Font
		link(rel="preconnect", href="https://fonts.gstatic.com")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap")

		//- Main Css File
		link(rel="stylesheet", href="css/main.css")
	body
		//- Mixins
		include helpers/_mixins.pug

		//- Navbar
		include layout/_navbar.pug

		//- Landing Page Section
		include layout/_landing-page.pug
		
		//- Our Story Section
		include layout/_story-section.pug

		//- Special Menu Section
		include layout/_special-menu.pug

		//- Testimonials Section
		include layout/_testimonials-section.pug

		//- Review Section
		include layout/_review-section.pug

		//- News Section
		include layout/_news-section.pug

		//- Contact Us Section
		include layout/_contact-section..pug

		//- Scripts
		script(src="js/vendors/jquery.js")
		script(src="js/main.js")